/*...........................................HOMEPAGE*/

body {
    font-family: 'Amatic SC', cursive;
}

/*...........................................NAVBAR*/

.navbar {
    position: fixed;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-collapse {
    color: #000000;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.navbar-right {
    float: right!important;
}

.nav-link-design {
    font-family: 'Special Elite', sans-serif;
    font-weight: 200;
    color: #000000;
}

.navbar-name {
    font-family: 'Special Elite', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.nav-item-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item-2 {
    margin-left: 10px;
    margin-right: 10px;
}



/*...........................................background*/

.homepage-bg {
    height: 100vh;
    background: url('../images/solar-system.jpg') no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/*...........................................callout*/

.callout-title {
    position: absolute;
    right: 150px;
    top: 15%;
    text-align: right;
}

.callout-button {
    position: absolute;
    right: 150px;
    top: 75%;
    text-align: right;
}

.callout-text {
    color: #F8F8FF;
    font-weight: bold;
    font-size: 70px;
    text-align: right;
}

/*...........................................button*/

.btn--detail {

    border-radius: 23px;
    width: 160px;
    padding: 0px;
}

.btn--green {
    background-color: #00AD00;
    border-color: #00AD00;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #007A00;
    border-color: #007A00;
}

a {
    font-size: 30px;
    font-weight: bold;
    color: #F8F8FF;
    text-decoration: none;
}

a:hover {
    color: #F8F8FF;
    text-decoration: none;
    cursor: pointer;
}

/*...........................................media*/

@media(max-width: 1280px) {
    .homepage-bg {
    height: 100vh;
    background: url('../images/solar-system-portrait.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.callout-title {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    padding: 40px;
}

.callout-button {
    position: absolute;
    right: 0;
    top: 90%;
    width: 100%;
    text-align: center;
}

.callout-text {
    color: #F8F8FF;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
}

@media(max-width:640px) {
    .callout-text {
    color: #F8F8FF;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
}

/*...........................................DASHBOARD*/

/*...........................................navbar*/

.navbar-container {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*...........................................visuals*/

.dashboard-bg {
    background-color: black;
}

.section-heading, #planet-selector {
    display: inline-block;
    float: none;
    margin: 0;
}

.number-box {
	margin-right: 75px;
}

.row {
    margin: 0;
}