/*.................................................................HOMEPAGE*/

body {
    font-family: 'Nanum Myeongjo', serif;
}

/*...........................................background*/

.homepage-bg {
    height: 100vh;
    background: url('../images/solar-system.jpg') no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

/*...........................................callout*/

.callout-title {
    position: absolute;
    right: 150px;
    top: 15%;
    text-align: right;
}

.callout-button {
    position: absolute;
    right: 150px;
    top: 75%;
    text-align: right;
}

.callout-text {
    color: #F8F8FF;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
}

/*...........................................button*/

.btn--detail {

    border-radius: 23px;
    width: 160px;
    padding: 0px;
}

.btn--green {
    background-color: #00AD00;
    border-color: #00AD00;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #007A00;
    border-color: #007A00;
}

a {
    font-size: 30px;
    font-weight: bold;
    color: #F8F8FF;
    text-decoration: none;
}

a:hover {
    color: #F8F8FF;
    text-decoration: none;
    cursor: pointer;
}

/*...........................................media*/

@media(max-width: 1280px) {
    .homepage-bg {
        height: 100vh;
        background: url('../images/solar-system-portrait.jpg') no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 0px;
        padding-right: 0px;
    }

    .callout-title {
        position: absolute;
        left: 0;
        top: 25%;
        width: 100%;
        text-align: center;
        padding: 40px;
    }

    .callout-button {
        position: absolute;
        right: 0;
        top: 90%;
        width: 100%;
        text-align: center;
    }

    .callout-text {
        color: #F8F8FF;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
    }
}

@media(max-width:640px) {
    .callout-text {
        color: #F8F8FF;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
}

/*.................................................................NAVBAR*/

#navbar {
    position: fixed;
    z-index: 9;
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    height: 50px;
    border-bottom-color: #000000;
    color: #808080;
}

.navbar-collapse {
    background-color: #000000;
}

.navbar-content {
    font-size: xx-large;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 100px;
    z-index: 1;
}

.navbar-links {
    color: #808080;
    font-size: xx-large;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-links:hover {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-content a {
    color: #808080;
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-content a:hover {
    color: white;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dropdown:hover .navbar-content {
    display: block;
}

/*.................................................................DASHBOARD*/

/*...........................................visuals*/

main {
    color: #ffffff;
    background: #000000;
}

.heading-container {
    padding-left: 50px;
    padding-right: 50px;
}

.section-heading {
    position: relative;
    text-align: center;
    font-size: x-large;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.section-intro {
    position: relative;
    text-align: center;
    font-size: large;
}

.section-top {
    padding-top: 50px;
}

.section {
    padding-top: 75px;
}

.row {
    margin: 0;
}

.number-box {
    margin: 0;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    height: auto;
}

.section-paragraph {
    font-size: large;
    vertical-align: central;
    padding-top: 40px;
    margin: 0;
    font-weight: bold;
}

.section-sub-paragraph {
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
}

.axis-detail {
    fill: #ffffff;
    font-size: small;
    text-align: center;
    height: 90%;
    width: 100%;
}

.planet-colour rect {
    transition: all 0.3s ease-in-out;
}

.text-graph-sep {
    margin-top: 30px;
}


/*Earth*/

.planet-colour rect:nth-child(1) {
    fill: #739FEE;
}

/*Jupiter*/

.planet-colour rect:nth-child(2) {
    fill: #FFA332;
}

/*Mars*/

.planet-colour rect:nth-child(3) {
    fill: #B85B1A;
}

/*Mercury*/

.planet-colour rect:nth-child(4) {
    fill: #808080;
}

/*Neptune*/

.planet-colour rect:nth-child(5) {
    fill: #5077BD;
}

/*Saturn*/

.planet-colour rect:nth-child(6) {
    fill: #D6BFA4;
}

/*Uranus*/

.planet-colour rect:nth-child(7) {
    fill: #E5FFF6;
}

/*Venus*/

.planet-colour rect:nth-child(8) {
    fill: #E1D3C1;
}


/*.................................................................PLANET BIO'S*/

.bio-text {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 25px;
}

.bio-text-pos {
    position: fixed;
    bottom: 15%;
    left: 5%;
    right: 5%;
}

.planet-title {
    font-size: x-large;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 15px;
}

.bio-para {
    font-size: large;
    font-weight: 300;
    color: #ffffff;
    text-align: left;
    margin: 15px;
}

.planet-cont {
    padding: 0;
}

.mercury-bg {
    height: 100vh;
    background: url('../images/mercury.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.venus-bg {
    height: 100vh;
    background: url('../images/venus.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.earth-bg {
    height: 100vh;
    background: url('../images/earth.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mars-bg {
    height: 100vh;
    background: url('../images/mars.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jupiter-bg {
    height: 100vh;
    background: url('../images/jupiter.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.saturn-bg {
    height: 100vh;
    background: url('../images/saturn.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.uranus-bg {
    height: 100vh;
    background: url('../images/uranus.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.neptune-bg {
    height: 100vh;
    background: url('../images/neptune.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.planet-box {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.planet-header {
    font-size: large;

}

.active {
    color: #ffffff;
}

.planet-title-bg {
    background: rgba(0, 0, 0, 0.4);

}

/*.................................................................FOOTER*/

.dashboard-footer {
    position: relative;
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1)
}

.footer {
    position: fixed;
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1)
}

.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    background: #808080;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.sub-heading {
    font-size: large;
    font-weight: 200;
    color: #808080;
    text-align: center;
    padding-top: 10px;
}

footer div {
    text-align: center;
    padding-top: 10px;
    background: transparent;
}

footer p {
    font-size: medium;
    font-weight: 200;
    color: #808080;
    text-align: center;
    margin: 0;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background: #ffffff;
}

/*.................................................................MEDIA*/

@media(max-width:1199px) {
    
    .navbar-links {
        font-size: x-large;
    }

    .navbar-content a {
        font-size: x-large;
    }

    .sub-heading {
        font-size: large;
    }

    footer p {
        font-size: medium;
    }

    .social-links {
        line-height: 0;
    }

    .section-heading {
        font-size: x-large;
        margin-top: 20px;
    }

    .section-intro {
        font-size: large;
    }

    .section-paragraph {
        font-size: large;
        vertical-align: central;
        padding-top: 30px;
        margin: 0;
    }

    .section-sub-paragraph {
        font-size: medium;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section {
        padding-top: 60px;
    }

    .heading-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .pie-padding {
       Margin: 20, 5, 5;
       padding: 0;
    }

    .axis-detail {
        font-size: small;
    }

    .row-height {
        height: 50px;
        padding-bottom: 40px;
    }
    
      .text-graph-sep {
    margin-top: 20px;
}
}

@media(max-width:991px) {

    .navbar-links {
        font-size: x-large;
    }

    .navbar-content a {
        font-size: x-large;
    }

    .bio-text {
        padding: 20px;
    }

    .planet-title {
        font-size: large;
    }

    .bio-para {
        font-size: medium;
    }

    .sub-heading {
        font-size: medium;
    }

    footer p {
        font-size: small;
    }

    .social-links li a i {
        width: 30px;
        height: 30px;
        font-size: 22px;
        line-height: 30px;
    }

    .section-heading {
        font-size: large;
        margin-top: 20px;
    }

    .section-intro {
        font-size: medium;
    }

    .section-paragraph {
        font-size: medium;
        vertical-align: central;
        padding-top: 20px;
        margin: 0;
    }

    .section-sub-paragraph {
        font-size: small;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section {
        padding-top: 45px;
    }

    .heading-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .pie-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .axis-detail {
        font-size: x-small;
    }

    .row-height {
        height: 40px;
        padding-bottom: 30px;
    }
    
    .text-graph-sep {
    margin-top: 10px;
}
}

@media(max-width:576px) {

    .navbar-links {
        font-size: large;
    }

    .navbar-content a {
        font-size: large;
    }

    .bio-text {
        padding: 15px;
    }

    .sub-heading {
        font-size: medium;
    }

    .social-links li a i {
        width: 20px;
        height: 20px;
        font-size: 15px;
        line-height: 20px;
    }

    .planet-title {
        font-size: medium;
    }

    .bio-para {
        font-size: small;
    }

    .section {
        padding-top: 30px;
    }

    .heading-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-heading {
        margin-top: 10px;
    }

    .pie-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .axis-detail {
        font-size: xx-small;
    }

    .section-paragraph {
        font-size: small;
        vertical-align: central;
        padding-top: 10px;
        margin: 0;
    }

    .section-sub-paragraph {
        font-size: x-small;
        padding-left: 10px;
        padding-right: 10px;
    }

    .row-height {
        height: 30px;
        padding-bottom: 20px;
    }
    
     .section-heading {
        font-size: medium;
        margin-top: 20px;
    }

    .section-intro {
        font-size: small;
    }
    
    .text-graph-sep {
    margin-top: 0px;
}
}
